@model Smart.Models.Financial.FinancialReportsModel
@{ ViewData["Title"] = Localizer["Contas a Receber"]; ViewBag.PageClass = "container"; ViewData.AddActivePageApp(ActivePagesApp.FinanceReports);}
@{ bool hasrecord = Model.VRevenue == null ? false : Model.VRevenue.Count() > 0 ? true : false; }


<div class="row">
    <div class="col-4">
        <p class="text-info h3">@Localizer["Contas a Receber"]</p>

    </div>

    <div class="col-2 ml-auto text-right">

        <a class="btn btn-outline-secondary filter" data-toggle="collapse" href="#filter" role="button"
           aria-expanded="false">@Localizer["Filtros"]</a>
    </div>
</div>


<div class="collapse multi-collapse collapse @( !hasrecord ? "show" : "" )" id="filter">
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="suplier">@Localizer["Cliente"]</label>
                <input asp-for="suplier" placeholder="@Localizer["Cliente"]" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label asp-for="dueDateStart">@Localizer["Vencimento"]</label>
                <input asp-for="dueDateStart" placeholder="@Localizer["De"]" class="form-control datepicker" />

            </div>
            <div class="form-group col-md-2">
                <label asp-for="dueDateEnd"> <br /></label>
                <input asp-for="dueDateEnd" placeholder="@Localizer["Até"]" class="form-control datepicker" />

            </div>
            <div class="form-group col-md-2">
                <label asp-for="duePayStart">@Localizer["Pagamento"]</label>
                <input asp-for="duePayStart" placeholder="@Localizer["De"]" class="form-control datepicker" />

            </div>
            <div class="form-group col-md-2">
                <label asp-for="duePayEnd"> <br /></label>
                <input asp-for="duePayEnd" placeholder="@Localizer["Até"]" class="form-control datepicker" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="name">@Localizer["Nome da Conta"]</label>
                <input asp-for="name" placeholder="@Localizer["Nome da Conta"]" class="form-control" />

            </div>
            <div class="form-group col-md-2">
                <label asp-for="createDateStart">@Localizer["Emissão"]</label>
                <input asp-for="createDateStart" placeholder="@Localizer["De"]" class="form-control datepicker" />

            </div>
            <div class="form-group col-md-2">
                <label asp-for="createDateEnd"> <br /></label>
                <input asp-for="createDateEnd" placeholder="@Localizer["Até"]" class="form-control datepicker" />

            </div>
            <div class="form-group col-md-4">
                <label asp-for="CategoryId">@Localizer["Categoria"]</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option></option>
                </select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="value">@Localizer["Total"]</label>
                <input asp-for="value" placeholder="@Localizer["Total"]" class="form-control"
                       data-thousands="." data-decimal="," />

            </div>
            <div class="form-group col-md-4">
                <label asp-for="ExpenseNumber">@Localizer["Número da Conta"]</label>
                <input asp-for="ExpenseNumber" placeholder="@Localizer["Número da Conta"]" class="form-control" />
            </div>


        </div>
        <div class="form-row">
            <div class="col-4">
                <button type="submit" class="btn btn-success btn-bdr btn-block">@Localizer["Pesquisar"]</button>
            </div>
        </div>
    </form>
</div>
<hr />

<div class="collapse multi-collapse show" id="tablerows">

    <div class="row padding-top-15">
        <div class="col-12">
            <div class="table-responsive">
                @if (!hasrecord)
                {
                    <div class="no-registry-content">
                        <div class="text-center">
                            <div style="font-size:3em; color:darkseagreen">
                                <i class="fas fa-exclamation-circle"></i>
                            </div>
                        </div>
                        <div class="fade-item">
                            <h2 class="no-registry-title">
                                @SharedLocalizer["Nenhum registro de"]  <span class="text-info">@ViewData["Title"]</span> @SharedLocalizer["encontrado"].
                            </h2>
                            <a class="btn btn-outline-secondary filter" data-toggle="collapse" href="#filter" role="button">@Localizer["Clique aqui para ver os Filtros"]</a>
                        </div>
                    </div>
                }
                else
                {

                    <table id="resultTable" class="table table-hover table-sm" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th> @Localizer["Número"]</th>
                                <th> @Localizer["Cliente"]</th>
                                <th> @Localizer["Lançamento"]</th>
                                <th> @Localizer["Vencimento"]</th>
                                <th> @Localizer["Liquidação"]</th>
                                <th> @Localizer["Valor"]</th>
                                <th> @Localizer["Saldo"]</th>
                                <th> @Localizer["Dias Ataso"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.VRevenue)
                                {
                                    string suplier = item.Person == null ? "" : item.Person.FirstName.Truncate(20, true);
                                    DateTime? dt_inicial = item.DueDate.HasValue ? item.DueDate.Value.Date : System.DateTime.Now.Date;
                                    DateTime? dt_final = item.DuePayment.HasValue ? item.DuePayment.Value.Date : System.DateTime.Now.Date;


                                    var delay = (dt_final - dt_inicial).Value.TotalDays;

                                    <tr class="table-row-body">
                                        <td class="table-item-body">
                                            @Html.DisplayFor(modelItem => item.FullNumber)
                                        </td>
                                        <td class="table-item-body" data-toggle="tooltip" data-placement="top" title="@Html.DisplayFor(modelItem => item.Person.FirstName)">
                                            @suplier
                                        </td>
                                        <td class="table-item-body">
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td class="table-item-body">
                                            @Html.DisplayFor(modelItem => item.DueDate)
                                        </td>
                                        <td class="table-item-body">
                                            @Html.DisplayFor(modelItem => item.DuePayment)
                                        </td>

                                        <td class="table-item-body">
                                            @item.Total.ToString("c")
                                        </td>
                                        <td class="table-item-body">
                                            @item.AmountFinal.ToString("c")
                                        </td>
                                        <td class="table-item-body">
                                            @delay
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary filter" data-toggle="collapse" href="#filter" role="button">@Localizer["Clique aqui para ver os Filtros"]</a>

                    </div>
                }
                <br />

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>setupTable.tableInitExport("resultTable", 50, 1, 1, 'desc', 3);</script>

    <script src="~/js/views/revenue-reports.min.js"></script>

}
