<header style="background-color: #000">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark font-weight-light" style=" background-color: #000;">
            
            <a class="navbar-brand" asp-action="List" asp-controller="CategoryPerson">
                @SharedLocalizer["Configurações"]
            </a>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer["Pessoas"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="CategoryPerson">@SharedLocalizer["Categorias"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer["Contábil"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="TaxGroup">@SharedLocalizer["Grupo de Impostos"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="TaxOperation">@SharedLocalizer["Operação Fiscal"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer["Financeiro"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="FinancialCategory">@SharedLocalizer["Categoria Financeira"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="CostCenter">@SharedLocalizer["Centro de Custo"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="Bank">@SharedLocalizer["Conta Bancária"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer["Regiões"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="Country">@SharedLocalizer["Países"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="StateProvince">@SharedLocalizer["Estados"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="City">@SharedLocalizer["Cidades"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer["Produção/Produtos"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="CategoryProduct">@SharedLocalizer["Categorias de Produtos"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="ClassProduct">@SharedLocalizer["Classes de Produtos"]</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="Warehouse">@SharedLocalizer["Depósitos"]</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SharedLocalizer["Vendas"]
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="List" asp-controller="Condition">@SharedLocalizer["Condições de Pagamentos"]</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>