<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #17a2b8">
        <a class="navbar-brand" href="/">
            <img src="~/images/logo-white.png" width="118" alt="">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" @ActivePagesApp.DashboardNavClass(ViewContext)>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item" @ActivePagesApp.DashboardNavClass(ViewContext)>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                    </li>
                    <li class="nav-item dropdown @ActivePagesApp.RegNavClass(ViewContext)">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li> <a class="dropdown-item @ActivePagesApp.IndexPersonNavClass(ViewContext)" asp-action="List" asp-controller="Person">Clientes e Fornecedores</a> </li>
                            <li><div class="dropdown-divider"></div></li>
                            <li> <a class="dropdown-item @ActivePagesApp.ProductNavClass(ViewContext)" asp-action="List" asp-controller="Product">Produtos e Serviços</a>  </li>
                        </ul>

                    </li>
                    <li class="nav-item dropdown @ActivePagesApp.FinanceNavClass(ViewContext)">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Financeiro
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <li> <a class="dropdown-item @ActivePagesApp.RevenueNavClass(ViewContext)" asp-action="List" asp-controller="Revenue">Contas a Receber</a> </li>
                            <li> <a class="dropdown-item @ActivePagesApp.ExpenseNavClass(ViewContext)" asp-action="List" asp-controller="Expense">Contas a Pagar</a> </li>
                            <li><a class="dropdown-item @ActivePagesApp.BankTransNavClass(ViewContext)" asp-action="List" asp-controller="BankTrans">Extrato Banco/Caixa</a></li>
                            <li> <div class="dropdown-divider"></div> </li>
                            <li><a class="dropdown-item @ActivePagesApp.CashFlowNavClass(ViewContext)" asp-action="CashFlow" asp-controller="FinancialStats">Fluxo Caixa</a></li>
                            @*<li>
                                    <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>

                                        <li>
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action aa</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action bb</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>

                    </li>

                    <li class="nav-item dropdown @ActivePagesApp.FinanceReportsNavClass(ViewContext)">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li> <a class="dropdown-item  @ActivePagesApp.FinanceReportsNavClass(ViewContext)" asp-action="Reports" asp-controller="FinancialStats">Financeiro</a> </li>
                            @*<li>
                                    <a class="dropdown-item dropdown-toggle" href="#">Financeiro</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                        <li><a class="dropdown-item" href="#">Another submenu action</a></li>

                                        <li>
                                            <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action aa</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Subsubmenu action bb</a></li>
                                                <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>

                    </li>



                    @*<li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                        </li>*@
                </ul>
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
</div>
