@model EnableAuthenticatorViewModel
@{
    ViewData["Title"] = "Enable authenticator";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<h4>@ViewData["Title"]</h4>
<div>
    <p>@LoginLocalizer["Para usar a Dupla Autenticação, siga os seguintes passos"]:</p>
    <ol class="list">
        <li>
            <p>
                @LoginLocalizer["Baixe o software de autenticação da Microsfot"]:
                <a href="https://go.microsoft.com/fwlink/?Linkid=825071">@LoginLocalizer["Para Windows Phone"]</a>,
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">@LoginLocalizer["Para Android"]</a>
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">@LoginLocalizer["Para iPhone"]</a>
                @LoginLocalizer["ou Autenticador da Google"]:
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">@LoginLocalizer["Para Android"]</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">@LoginLocalizer["Para iPhone"]</a>.
            </p>
        </li>
        <li>
            <p>@LoginLocalizer["Escanei o QR Code ou entre esta chave"]<kbd>@Model.SharedKey</kbd> @LoginLocalizer["em seu aplicativo de autenticação"].</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                @LoginLocalizer["Uma vez escaneado ou digitado manualmente, seu aplictivo irá gerar um Códgio de Verificação. Entre com esta Código no campo abaixo"]
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">@LoginLocalizer["Código de Verificação"]</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-info btn-block">@LoginLocalizer["Validar"]</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/lib/qrcode/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
