@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@@model @GetEnumerableTypeExpression(Model.ViewDataTypeName)
@@{ ViewData["Title"] = ViewsLocalizer["@Model.ModelMetadata.EntitySetName"]; ViewBag.PageClass = "container"; }
@@{ ViewData.AddActivePageApp(ActivePagesApp.@Model.ModelMetadata.EntitySetName); }


@{
        @:<h4> @@ViewData["Title"] <small class="text-danger"> @@Model.Count() </small></h4>
        @:<hr class="myb-4"/>
        @:<div class="row">
            @:<div class="col-md-12">
                @:<form class="form-horizontal" method="get">
                      @:<div class="row">
                          @:<div class="col">
                              @:<a asp-action="Add" class="btn btn-success btn-bdr">@@SharedLocalizer["Adicionar Novo"]</a>
                          @:</div>
                          @:<div class="col">
                              @:<div class="input-group mb-3">
                                  @:<input  id="search" name="search"  value="@@ViewData["search"]" type="text" class="form-control" placeholder="@@SharedLocalizer["Pesquisar..."]" aria-label="@@SharedLocalizer["Pesquisar..."]" aria-describedby="basic-addon2">
                                  @:<div class="input-group-append">
                                      @:<button class="btn btn-info btn-secondary" type="submit"> <i class="fas fa-search"></i></button>
                                  @:</div>
                              @:</div>

                          @:</div>
                      @:</div>
                @:</form>
            @:</div>
        @:</div>
        @:<div class="row padding-top-15">
            @:<div class="col-12">
                @:<div class="table-responsive">
                    @:@@if (Model.Count() == 0)
                    @:{
                        @:<div class="no-registry-content">
                            @:<div class="text-center">
                                @:<div style="font-size:3em; color:darkseagreen">
                                    @:<i class="fas fa-exclamation-circle"></i>
                                @:</div>
                            @:</div>
                            @:<div class="fade-item">
                                @:<h2 class="no-registry-title">
                                    @:@@SharedLocalizer["Nenhum registro de"]  <span class="text-info">@@ViewData["Title"]</span> @@SharedLocalizer["encontrado"].
                                @:</h2>
                                @:<div class="lead">
                                    @:@@SharedLocalizer["Crie"] @@ViewData["Title"] @@SharedLocalizer["clicando no botão adicionar"].
                                @:</div>
                                @:<hr />
                                @:<div class="no-registry-button-wrapper">
                                    @:<a asp-action="Add" class="btn btn-success btn-bdr">@@SharedLocalizer["Adicionar Novo"]</a>
                                @:</div>
                            @:</div>
                        @:</div>
                    @:}
                    @:else
                    @:{
                    @:<table id="resultTable" class="table table-hover table-sm">
                             @:<thead>
                                @:<tr>
                                var properties = Model.ModelMetadata.Properties;
                                foreach (var property in properties)
                                {
                                               if (
                                                      (property.PropertyName == "BusinessEntityId") ||
                                                      (property.PropertyName == "CreateDate") ||
                                                      (property.PropertyName == "ModifiedDate") ||
                                                      (property.PropertyName == "rowguid") ||
                                                      (property.PropertyName == "UserId")  ||
                                                      (property.PropertyName == "Deleted")
                                                    )
                                                {
                                                    continue;
                                                }
           

                                    @*if (property.Scaffold && property.IsPrimaryKey && !property.IsForeignKey)
                                    {
                                        <th data-class="expand"> @@Localizer["@GetValueExpression(property)"]</th>
                                    }*@
                                    if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                                    {
                                        <th> @@Localizer["@GetValueExpression(property)"]</th>
                                    }
                                }
                                foreach (var navigation in Model.ModelMetadata.Navigations)
                                {
                                        <th>
                                            @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                                        </th>
                                }
                                @:<th class="no-order" width="40px"> @@SharedLocalizer["Ação"]</th>
                                @:</tr>
                                
                            @:</thead>
                            @:<tbody>
                                    @:@@foreach (var item in Model) {
                                           @:<tr class="table-row-body">
                                            var pkName = GetPrimaryKeyName();
                                            foreach (PropertyMetadata property in properties)
                                            {
                                                   if (
                                                        (property.PropertyName == "BusinessEntityId") ||
                                                        (property.PropertyName == "CreateDate") ||
                                                        (property.PropertyName == "ModifiedDate") ||
                                                        (property.PropertyName == "rowguid") ||
                                                        (property.PropertyName == "UserId") || 
                                                        (property.PropertyName == "Deleted")
                                                    )
                                                {
                                                    continue;
                                                }

                                               @*if (property.Scaffold && property.IsPrimaryKey && !property.IsForeignKey)
                                                {
                                                @:<td>
                                                      @: @@Html.DisplayFor(modelItem => item.@GetValueExpression(property))
                                                @:</td>
                                                }*@
                                                if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                                                {
                                                @:<td class="table-item-body">
                                                
                                                if (property.PropertyName == "Image")
                                                {  
                                                string pk  = GetPrimaryKeyName();
                                                string src = "@Url.Action(\"Avatar\", \""+Model.ModelMetadata.EntitySetName+"\", new { id = item."+ pk +"})";
                                                    @: <div class='project-members'> <img id="imageID" class="project-members" name="imageID" src="@src"/> </div> 

                                                } else
                                                {
                                                   @: @@Html.DisplayFor(modelItem => item.@GetValueExpression(property))
                                                }


                                                @:</td>
                                                }
                                            }
                                            foreach (var navigation in Model.ModelMetadata.Navigations)
                                            {
                                                @:<td class="table-item-body">
                                                    @: @@Html.DisplayFor(modelItem => item.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                                                @:</td>
                                            }
                                              @:<td class="table-item-body">
                                                @:<a asp-action="Edit" asp-route-id="@@item.@pkName" class="btn btn-light btn-bdr btn-sm"> @@SharedLocalizer["Editar"] </a>
                                              @:</td>


                                            @:</tr>
                                    @:}
                            @:</tbody>
                       
                    @:</table>
                 @:}
                @:</div>
            @:</div>
        @:</div>
      

    

@:@@section Scripts {
    @:<script>setupTable.tableInit("resultTable", 50); </script>
@:}

    if(!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
        //ClearIndent();
    }
}
@functions
{
    bool ExistsImageColumn()
    {
        var internalproperties = Model.ModelMetadata.Properties;
        foreach (var property in internalproperties)
        {
            if ((property.PropertyName == "Image"))
            {
                return true;
                
            }
        }
        return false;
    }



    bool ExistsDeletedColumn()
    {
        var internalproperties = Model.ModelMetadata.Properties;
        foreach (var property in internalproperties)
        {
            if ((property.PropertyName == "Deleted"))
            {
                return true;
            }
        }
        return false;
    }

    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(PropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(NavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }

    string GetEnumerableTypeExpression(string typeName)
    {
        return "IEnumerable<" + typeName + ">";
    }
}