@model IEnumerable<Core.Domain.Production.Product>
<table id="resultTable" class="table table-hover table-sm" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th width="120"> @Localizer["Código"]</th>
            <th> @Localizer["Nome"]</th>
            <th width="120"> @Localizer["Saldo Mínimo"]</th>
            <th width="120"> @Localizer["Saldo"]</th>
            <th width="120"> @Localizer["Curva"]</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                string suplier = item.Name.Truncate(60, true);
                decimal stock = item.VProduct.Stock.HasValue ? item.VProduct.Stock.Value : 0;
                decimal SafetyStockLevel = item.SafetyStockLevel.HasValue ? item.SafetyStockLevel.Value : 0;
                decimal curve = stock - SafetyStockLevel;

                <tr class="table-row-body">
                    <td class="table-item-body">
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td class="table-item-body" data-toggle="tooltip" data-placement="top" title="@Html.DisplayFor(modelItem => item.Name)">
                        @suplier
                    </td>
                    <td class="table-item-body">
                        @SafetyStockLevel.ToString("0")
                    </td>
                    <td class="table-item-body">
                        @stock.ToString("0")
                    </td>
                    <td class="table-item-body">
                        @curve.ToString("0")
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

