@model IEnumerable<Core.Domain.PersonAndData.Person>
@{ ViewData["Title"] = ViewsLocalizer["Clientes e Fornecedores"]; ViewBag.PageClass = "container"; }
@{ ViewData.AddActivePageApp(ActivePagesApp.Person); }
<h4> @ViewData["Title"] <small class="text-danger"> @Model.Count() </small></h4>
<hr class="myb-4" />
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="get">
            <div class="row">
                <div class="col">
                    <a asp-action="Add" class="btn btn-success btn-bdr">@SharedLocalizer["Adicionar Novo"]</a>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <input id="search" name="search" value="@ViewData["search"]" type="text" class="form-control" placeholder="@SharedLocalizer["Pesquisar..."]" aria-label="@SharedLocalizer["Pesquisar..."]" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-info btn-secondary" type="submit"> <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row padding-top-15">
    <div class="col-12">
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <div class="no-registry-content">
                    <div class="text-center">
                        <div style="font-size:3em; color:darkseagreen">
                            <i class="fas fa-exclamation-circle"></i>
                        </div>
                    </div>
                    <div class="fade-item">
                        <h2 class="no-registry-title">
                            @SharedLocalizer["Nenhum registro de"]  <span class="text-info">@ViewData["Title"]</span> @SharedLocalizer["encontrado"].
                        </h2>
                        <div class="lead">
                            @SharedLocalizer["Crie"] @ViewData["Title"] @SharedLocalizer["clicando no botão adicionar"].
                        </div>
                        <hr />
                        <div class="no-registry-button-wrapper">
                            <a asp-action="Add" class="btn btn-success btn-bdr">@SharedLocalizer["Adicionar Novo"]</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <table id="resultTable" class="table table-hover table-sm" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="80px"> @SharedLocalizer["Código"]</th>
                            <th class=""> @SharedLocalizer["Razão Social"]</th>
                            <th class="" width="140px"> @SharedLocalizer["Cnpj"]</th>
                            <th class="" width="140px"> @SharedLocalizer["Telefone"]</th>
                            <th class="" width="40px"> @SharedLocalizer["Active"]</th>
                            @*<th class="no-order" width="40px"> @SharedLocalizer["Action"]</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-row-body">
                                <td class="table-item-body">
                                    @Html.DisplayFor(modelItem => item.PersonCode)
                                </td>
                                <td class="table-item-body" data-toggle="tooltip" data-placement="top" title="@item.FirstName">
                                    <a asp-action="Edit" asp-route-id="@item.PersonId" class=" "> @Html.Truncate(item.FirstName, 40)</a>

                                </td>
                                <td class="table-item-body">
                                    @Html.DisplayFor(modelItem => item.RegistrationCode)
                                </td>
                                <td class="table-item-body">
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td class="table-item-body">
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>setupTable.tableInit("resultTable", 50);</script>
}
