@model ResetPasswordViewModel
@{
    ViewData["Title"] = LoginLocalizer["Resetar Senha"];
}
<div class="container">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-signin">
        <input asp-for="Code" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>
        <h2 class="form-signin-heading">@LoginLocalizer["Resetar Senha"]</h2>
        <label asp-for="Email" class="sr-only">Email address</label>
        <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
        <span asp-validation-for="Email" class="text-danger"></span>
        <label asp-for="Email" class="sr-only">@LoginLocalizer["Senha"]</label>
        <input asp-for="Password" class="form-control password" placeholder="@LoginLocalizer["Senha"]" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <label asp-for="ConfirmPassword" class="sr-only"> @LoginLocalizer["Senha"]</label>
        <input asp-for="ConfirmPassword" class="form-control confirm" placeholder="@LoginLocalizer["Confirmar"]" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <button type="submit" class="btn btn-info btn-block">@LoginLocalizer["Resetar"]</button>
    </form>
</div> <!-- /container -->
