@model Smart.Models.Components.RevenueAccountModel


@if (Model.RenderView.Equals(RevenueCards.GetValue))
{
    @Model.TotalAmount.Value.ToString("c")
}
else
if (Model.RenderView.Equals(RevenueCards.GetTable))
{
    if (Model.Qty == 0)
    {
        <p class="card-text text-muted font-weight-light">@SharedLocalizer["Por enquanto você ainda não criou nenhuma conta"].</p>
    }
    else
    {
        <table id="revenue-table" class="table table-hover table-sm" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td></td>
                    <td>Número</td>
                    <td>Vencimento</td>
                    <td class="text-right">Saldo Final</td>
                </tr>
            </thead>
            <tbody id="revenues">
                @foreach (var item in Model.List.OrderByDescending(a => a.DueDate))
                {
                    <tr class="font-weight-light">
                        <td> <i class="text-warning fas @( item.DueDate.HasValue ? item.DueDate.Value <= System.DateTime.Now ? "fa-exclamation-triangle" : "" : "" ) "></i> </td>
                        <td> @Html.Truncate(item.ToString(), 10)</td>
                        <td> @( item.DueDate.HasValue ? item.DueDate.Value.ToShortDateString() : "" )</td>
                        <td class="text-right"> @item.AmountFinal.ToString("c")</td>
                    </tr>
                }

            </tbody>

        </table>
    }
}
